:root{
    /*colores*/
    --orange:  rgb(211, 93, 25);
    --white: white;
    --texto: #42332e;
    --fondo: #fff;
    --shadow:rgb(0, 0, 0, 0.2);
    
    /*tamanos*/
    --large: 5rem;
    --medium:3.5rem;
    --small:1.5rem;
}
body.dark-theme{
    background-color: var(--fondo);
    --texto: #fff;
    --fondo: #121212;
    --shadow:rgba(255, 255, 255, 0.2);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", Sans-serif;
    
    text-decoration: none;
    box-sizing: border-box;
}
a{
    color:var(--orange)
}
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.w-100p {
    width: 100%;
}
.h-100p{
    height: 100%;
}
.header__portada {
    background-image: url(./img/banner-festival-de-las-humanidades.jpg);
    background-position: center center;
    background-size: cover;
    padding: 25px 0px;
}

.portada__brand {
    height: 55px;
    gap: 10px;
    width:70%;
    margin: 0px auto;
}
.portada__logo{
    cursor: pointer;
}
.portada__logo:active{
    transform: rotate(5deg);

}
.portada__marca {
    font-variant: small-caps;
    font-size: 20px;
    border-left: 2px solid black;
    padding: 5px 10px;
    color: black;
    line-height: 20px;
}

.portada__banner {
    width:70%;
    margin: 80px auto 0px;   
}

.banner__titulo {
    font-size: var(--large);
}

.banner__descripcion {
    color: var(--white)
}

.header__nav {
    border-bottom: 1px solid var(--orange);
}

.nav__menu {
    padding: 0px 15%;
    justify-content: space-around;
    list-style: none;
}

.nav__item {  
    cursor: pointer;
    padding: 10px 15px;
    color:var(--orange);
    font-size: 15px;
}
.nav__item:hover{
    list-style:disc
}

.about__menu, .normas__menu, .archivo__menu {
    display: none;
    
}

#about:hover .about__menu,
#archivo:hover .archivo__menu,
#normas:hover .normas__menu
{
    display: grid;
    position: absolute;
    background: var(--fondo);
    box-shadow: 2px 4px 10px var(--shadow);
    border-radius: 5px;
}

 .normas__link, .archivo__link, .about__link{
    color: var(--orange);
    padding: 10px 25px;
    font-size: 15px;
    display: grid;
    cursor: pointer;
}

.about__link:hover,
.normas__link:hover, 
.archivo__link:hover 
{
    border-left: 5px solid var(--orange);
    background-color: rgb(163, 66, 9, 0.2);
    margin-left: -5px;
}

.no-display {
    display: none;
}

.contenedor{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:25px;
    
}

.aside{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    
}
.aside h3{
    color: var(--texto);
    margin: 20px 0px;
}
.social__icons{
    
    height:70px;
    list-style: none;
    
}
.info__menu{
    list-style: none;
}
.info__link{
    color: var(--orange);
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    
}
.btn-red{
    color: black;
}
p{
    text-align: justify;
    line-height: 1.8;
    color: var(--texto);
    font-size: 17px;
}
.path{
    display: flex;
    gap:10px;
    margin: 20px 0px;

}
.path a{
    color: var(--orange);
}
.path p{
    font-size: 15px;
    line-height: normal;
}
.inicio__actual{
    margin: 10px 100px;

}
.titulo-h3{
    padding: 20px 0px ;
    font-size: 2rem;
    color: var(--texto);
    font-weight: normal;
}
.lista__texto{
    color: var(--texto);
}
.equipo li,
.contacto li{
    text-align: justify;
    line-height: 2.0;
    list-style: none;
    color: var(--texto);
}
.normas__autores ol{
    text-align: justify;
    line-height: 2.0;
    
    color: var(--texto);
    
}
.copy{
    font-weight: bold;
    cursor: pointer;
}
.normas__editoriales ul{
   list-style: none;
}
.normas__editoriales  ul > li::before{
    content: "✔ ";
    font-weight: bold;
    
}
#footer{
    background-image: url("./img/footer.jpg");
    height: 150px;
    background-size: cover;
    background-position: center ;
    
}
@media only screen and (max-width:900px) {
    .banner__titulo {
        font-size: var(--medium);
    }
    .banner__descripcion {
        font-size: var(--small);
    }
    .portada__brand, .portada__banner {
        width: 90%;

    }
    .nav__menu {
        padding: 0px;
    }
    .contenedor{
        width: 90%;
        margin: 50px 5%;
        grid-template-columns: 1fr;
    }
    .aside{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0px;
    }
}
@media (max-width:550px) {
    .nav__menu {
        display: grid;
        place-items: center;
    }
}